@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-bg-dark: #0f1621;
  --color-bg-card: #1b2331;

  --color-text-main: #ffffff;
  --color-text-muted: #94a3b8;

  --font-main: "Plus Jakarta Sans", sans-serif;

  --radius-md: 10px;
  --radius-lg: 14px;
}

body {
  background: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

.btn-primary {
  @apply bg-primary text-white h-12 w-full rounded-[var(--radius-lg)] flex items-center justify-center font-semibold;
}

.btn-secondary {
  @apply bg-bg-card text-white h-12 w-full rounded-[var(--radius-lg)] flex items-center justify-center font-semibold;
}

.card {
  @apply bg-bg-card p-6 rounded-[var(--radius-lg)];
}